.app-container {
  max-width: 850px;
  margin: 0 auto;
}

.file-upload-container {
  margin: 20vh auto;
  max-width: 500px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
  text-align: center;
}

.search-text-container {
  padding: 20px 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-controls {
  display: flex;
  margin-bottom: 10px;
}

.search-input {
  flex: 1 0 auto;
  margin-right: 10px;
}

.file-upload-msg {
  margin: 0 0 20px;
  font-size: 1.5em;
  font-weight: 500;
}

.text-content {
  flex: 1 1 auto;
  overflow: auto
}

@media only screen and (min-width: 769px) {
  .search-input {
    margin-right: 20px;
  }

  .app-controls {
    margin-bottom: 30px;
  }
}